* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: url("images/organic-bg.jpg") no-repeat center center/cover;
  color: #0b1a01;
}
   /* body {
    background-image: url("6.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    color: #fff; */
  /* } */


/* HEADER */
header {
  background-color: rgba(42, 126, 195, 0.9);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  box-shadow: 0 2px 8px rgba(197, 26, 26, 0.1);
}

header h1 {
  color: #8a0f88;
  font-size: 28px;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

nav a {
  text-decoration: none;
  color: #3c8031;
  font-weight: 600;
}

nav a.active,
nav a:hover {
  color: #b21515;
  border-bottom: 2px solid #1d4e18;
}

/* HERO */
.hero {
  text-align: center;
  padding: 150px 20px;
  background-color: rgb(216, 214, 110);
}

.hero h2 {
  font-size: 48px;
  color: #111101;
}

.hero p {
  font-size: 18px;
  margin: 15px 0;
}

.btn {
  display: inline-block;
  padding: 10px 25px;
  background-color: #0c8a2d;
  color: rgb(255, 255, 255);
  border-radius: 25px;
  text-decoration: none;
  font-weight: 600;
}

.btn:hover {
  background-color: #2d5f24;
}

/* PRODUCTS */
.products {
  text-align: center;
  padding: 80px 20px;
  background-color: rgba(255, 255, 255, 0.9);
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  margin-top: 40px;
}

.product-card {
  background: #54e759;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(45, 6, 6, 0.271);
}


.product-card img {
  width: 100%;
  border-radius: 10px;
}

/* ABOUT */
.about {
  text-align: center;
  padding: 100px 20px;
  background-color: rgba(255, 255, 255, 0.9);
}

/* CONTACT */
.contact {
  text-align: center;
  padding: 80px 20px;
  background-color: rgb(173, 230, 180);
}

form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: auto;
  gap: 15px;
}

input, textarea {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

button {
  background-color: #3c8031;
  color: rgb(159, 151, 151);
  border: none;
  padding: 10px;
  border-radius: 25px;
  cursor: pointer;
}

button:hover {
  background-color: #2d5f24;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  background-color: rgba(60, 128, 49, 0.9);
  color: white;
  margin-top: 50px;
}
